@use "../../styles/variables" as var;

.images {
  background-color: var(--GRAYMAUVE200);
  display: block;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &[data-transparent="true"] {
    background: transparent;
  }

  // Border-radius Styling

  @each $key, $value in var.$radius {
    &[data-radius="#{$key}"] {
      border-radius: #{$value};
    }
  }

  img {
    height: 100%;
    object-fit: var(--img-obj-fit);
    object-position: var(--img-obj-position);
    width: 100%;
  }
}
