@use "sass:map";

@use "@/styles/variables" as var;

.typography {
  display: block;
  width: 100%;

  // Font Family Styling

  @each $key, $value in var.$font-family {
    &[data-font-family="#{$key}"] {
      font-family: #{$value};
    }
  }

  // Font Weight Styling

  @each $key, $value in var.$font-weight {
    &[data-font-weight="#{$key}"] {
      font-weight: #{$value};
    }
  }

  &[data-italic="true"] {
    font-style: italic;
  }

  // Text Modifier Styling

  @each $modifier in var.$text-modifier-kind {
    &[data-modifier="#{$modifier}"] {
      font-size: map.get(var.$text-modifier-font-size, $modifier);
      letter-spacing: map.get(var.$text-modifier-letter-spacing, $modifier);
      line-height: map.get(var.$text-modifier-line-height, $modifier);
    }
  }
}
