.checkbox {
  position: relative;
  width: fit-content;

  .checkbox-wrapper {

    [data-enable-label="true"] {
      cursor: pointer;
      user-select: none;
    }

    .checkmark {
      display: contents;

      [data-check="false"] {
        display: inline-block;
      }

      [data-check="true"] {
        display: none !important;

        [data-indeterminate] {
          height: 6px;
          left: 50%;
          position: absolute;
          top: 50%;
          translate: -50% -50%;
          width: 6px;
        }
      }
    }

    input {
      height: 100%;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: 1;

      &:checked {

        + .checkmark {

          [data-check="false"] {
            display: none !important;
          }

          [data-check="true"] {
            display: inline-block !important;
          }
        }
      }
    }
  }
}
