@use "sass:map";

@use "@/styles/variables" as var;

@use "@/styles/function" as func;

$banner-theme: (
  neutral: (
    background-color: var(--VIOLET200),
    border-color: var(--VIOLET400),
  ),
  success: (
    background-color: var(--GREENGRASS300),
    border-color: var(--GREENGRASS400),
  ),
  warning: (
    background-color: var(--ORANGE200),
    border-color: var(--ORANGE400),
  ),
  error: (
    background-color: var(--REDTOMATO200),
    border-color: var(--REDTOMATO400),
  ),
);

.banner {
  display: flex;
  gap: 8px;
  width: 328px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid;
  width: var(--width);

  &[data-type="neutral"] {
    background-color: func.get-attribute(
      $banner-theme,
      neutral,
      background-color
    );
    border-color: func.get-attribute($banner-theme, neutral, border-color);
  }

  &[data-type="success"] {
    background-color: func.get-attribute(
      $banner-theme,
      success,
      background-color
    );
    border-color: func.get-attribute($banner-theme, success, border-color);
  }

  &[data-type="error"] {
    background-color: func.get-attribute(
      $banner-theme,
      error,
      background-color
    );
    border-color: func.get-attribute($banner-theme, error, border-color);
  }

  &[data-type="warning"] {
    background-color: func.get-attribute(
      $banner-theme,
      warning,
      background-color
    );
    border-color: func.get-attribute($banner-theme, warning, border-color);
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
